<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Ahora agrego font de google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
<!-- Ahora agrego  los icono -->
<script src="https://kit.fontawesome.com/68e050386e.js" crossorigin="anonymous"></script>
<!-- Diseño responsive -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <div class="one">
        <div class="logo"><img src="/img/logo-mercado-liebre.svg"></div> 
        <br>
        <div class="buscador"><input type="search" placeholder="Buscar Productos, marcas"><button type="search"><i class="fas fa-search"></i></button></div>
        <div class="ejemplo"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </div> 
         <br>
    </div>
<ul type="None" class="cuerpo_texto">
       <div class="izquierda"> 
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
       </div>
       <div class="derecha">
            <li> <a href="/register">Creá tu Cuenta<i class="far fa-address-card"></i></a></li>
            <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li>Mis Compras <i class="fas fa-sign-in-alt"></i></li>
       </div>
</ul>
<p id="menu"><button id="menu2" type="menu"><i class="fas fa-bars"></i></button></p>
<br>
</header>
<main>
    <section class="banner">
        <img src="/img/img-home-banner.jpg" class="banner">
    </section>
 
         <h3 class="titulares">Basado en tu última visita</h3>
<section class="ultima_visita">  
<div class="productos">    
          
               <article>
                    <img src="/img/img-cafetera-moulinex.jpg"class="imagen">
                     <div class="articulo">
                        <i class="fas fa-truck" id="truck"></i> 
                         <p class="precios">$6.900</p>
                         <p class="descuentos">15% off</p>
                         <h4 class="descripciones">Cafetera Moulinex</h4>
                     </div>
                </article>

                 <article>
                     <img src="/img/img-samsung-galaxy-s10.jpg" class="imagen">         
                         <div class="articulo">
                            <i class="fas fa-truck" id="truck"></i>
                               <p class="precios">$45.000</p>
                               <p class="descuentos">10% off</p>
                               <h4 class="descripciones">Samsung Galaxy S10</h4>
                         </div>
         
                </article>

                 <article id="Macbook">
                    <img src="/img/img-macbook-pro-2019.jpg" class="imagen">             
                     <div class="articulo">
                        <i class="fas fa-truck" id="truck"></i>
                         <p class="precios">$145.000</p>
                         <p class="descuentos">25% off</p>
                         <h4 class="descripciones">Mabook Pro 2019</h4>
                    </div>
        
                </article>
                
                <article id="TV">
                    <img src="/img/img-tv-samsung-smart.jpg" class="imagen">  
                     <div class="articulo">
                             <i class="fas fa-truck" id="truck"></i>
                             <p class="precios">$145.000</p>
                             <p class="descuentos">25% off</p>
                             <h4 class="descripciones">TV Samsung Smart 42 pulgadas</h4>
                     </div>
        
                    </article>
           
</div>
</section>
  
         <h3 class="titulares">Sección de Ofertas</h3> 
 <section class="ofertas">    
         <div class="productos">    
          
            <article>
                 <img src="/img/img-cafetera-moulinex.jpg"class="imagen">
                  <div class="articulo">
                      <div><i class="fas fa-truck" id="truck"></i></div> 
                      <p class="precios">$6.900</p>
                      <p class="descuentos">15% off</p>
                      <h4 class="descripciones">Cafetera Moulinex</h4>
                  </div>
             </article>

              <article>
                  <img src="/img/img-samsung-galaxy-s10.jpg" class="imagen">        
                      <div class="articulo">
                            <i class="fas fa-truck" id="truck"></i>
                            <p class="precios">$45.000</p>
                            <p class="descuentos">10% off</p>
                            <h4 class="descripciones">Samsung Galaxy S10</h4>
                      </div>
      
                    </article>

              <article id="Macbook">
                 <img src="/img/img-macbook-pro-2019.jpg" class="imagen">            
                  <div class="articulo">
                      <i class="fas fa-truck" id="truck"></i>
                      <p class="precios">$145.000</p>
                      <p class="descuentos">25% off</p>
                      <h4 class="descripciones">Mabook Pro 2019</h4>
                 </div>
     
             </article>
             
             <article id="TV">
                 <img src="/img/img-tv-samsung-smart.jpg" class="imagen"> 
                  <div class="articulo">
                          <i class="fas fa-truck" id="truck"></i>
                          <p class="precios">$145.000</p>
                          <p class="descuentos">25% off</p>
                          <h4 class="descripciones">TV Samsung Smart 42 pulgadas</h4>
                  </div>
     
             </article>
        
        </div>
</section>
</main>

<footer>
    <div class="xd">
        <div class="foot">
            <div class="icono"><i class="fas fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.</p>
            <p>¡Y siempre es seguro!</p>
        </div>

        <div class="foot">
             <div class="icono"><i class="fas fa-gift"></i></div>
             <h3>Envío gratis desde $ 2.500</h3>
             <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos.</p>
             <p>Es un beneficio de Mercado Puntos.</p>
        </div>

        <div class="foot">
             <div class="icono"><i class="fas fa-user-shield"></i></div>
             <h3>Seguridad, de principio a fin</h3>
             <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
         </div>

    </div>
        <p id="ej"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>
</body>
</html>